
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.fixed-card {
    width: 360px;
}

.loader {
    border: 8px dotted rgb(93, 90, 90);
    border-radius: 50000px;
    width: 60px;
    height: 60px;

    animation: spin 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}