body {
    min-height: 100vh; 
    display: flex;
    align-items: center;
}

.card-container {
    max-width: 1600px;
}

.fixed-card {
    position: relative;
    width: 360px;
    height: 400px;
}

.fixed-card-body {
    position: relative;
    height: 320px;
}

.card-button-bottom {
    position: absolute;
    width: 95%;
    align-self: center;
    bottom: 10px;
}

.icon {
    font-size: large;
    color: black;
}

.loader {
    border: 8px dotted rgb(93, 90, 90);
    border-radius: 50000px;
    width: 60px;
    height: 60px;

    animation: spin 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}