
{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    
{% endblock head %}

{% block body %}
    <div class="centered">
        <form action="/" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-12 mt-2">
                        <input name="emails" type="text" class="form-control" placeholder="user1@email.cz, user2@email.cz">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-2">
                        <input name="usernames" type="text" class="form-control" placeholder="username1, username2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-2">
                        <button type="submit" class="btn btn-primary w-100">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% if error is not none() %}
        <div class="alert alert-danger position-absolute bottom-0 start-50 translate-middle">
            {{ error }}
        </div>
    {% endif %}
{% endblock body %}