
{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    
{% endblock head %}

{% block body %}
    <div class="centered">
        <form action="/" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <input name="search_input" type="text" class="form-control" placeholder="user@email.cz, user123">
                    </div>
                    <div class="col-12 col-md-4 mt-2 mt-md-0">
                        <button type="submit" class="btn btn-primary w-100">Hledat</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock body %}