
{% macro card(title, endpoint, schema) %}
<div class="card fixed-card" data-title="{{ title }}" data-endpoint="{{ endpoint }}" data-schema="{{ schema }}">
    <div class="card-header bg-info">
        <p class="m-0 fs-5 fw-semibold d-inline">{{ title }}</p>
        <button class="btn btn-danger btn-sm float-end" data-reload="")">
            <img style="width: 16px;" src="/static/media/reload-icon.png" alt="reload">
        </button>
    </div>
    <div class="card-body p-0 overflow-y-scroll" data-display style="height: 300px; position: relative">
        <div class="centered">
            <div class="loader"></div>
        </div>
    </div>
</div>
{% endmacro %}