
{% macro card(title, endpoint, schema) %}
<div class="card fixed-card shadow" data-title="{{ title }}" data-endpoint="{{ endpoint }}" data-schema="{{ schema }}">
    <div class="card-header bg-dark">
        <p class="m-0 fs-5 fw-semibold d-inline text-white">{{ title }}</p>
        <button class="btn btn-dark btn-lg m-0 p-0 ps-1 pe-1 float-end" data-reload="")">
            <i class="bi bi-arrow-repeat text-white"></i>
        </button>
    </div>
    <div class="card-body p-0 overflow-y-scroll" data-display style="height: 300px; position: relative">
        <div class="centered">
            <div class="loader"></div>
        </div>
    </div>
</div>
{% endmacro %}