
{% macro card(title, endpoint, schema) %}
<div class="card fixed-card shadow border-dark" data-title="{{ title }}" data-endpoint="{{ endpoint }}" data-schema="{{ schema }}">
    <div class="card-header bg-dark shadow">
        <p class="m-0 fs-5 fw-semibold d-inline text-white">{{ title }}</p>
        <button class="btn btn-dark btn-lg m-0 p-0 px-1 float-end" data-reload>
            <i class="bi bi-arrow-repeat text-white"></i>
        </button>
    </div>
    <div class="card-body fixed-card-body p-0 overflow-y-scroll" data-display>
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="loader"></div>
        </div>
    </div>
</div>
{% endmacro %}