{% extends "layout.html" %}

{% block body %}
<script src="../static/script.js"></script>
{% for email in search_items["emails"] %}
<p>email: {{ email }}</p>
{% endfor %}

{% for username in search_items["usernames"] %}
<p>username: {{ username }}</p>
{% endfor %}

{{ data }}
<div class="loader"></div>
<div class="centered">
    <div class="d-flex flex-wrap gap-3 justify-content-center">
        <div class="card fixed-card data-div">
            <div class="card-header bg-info"><h5 class="card-title">IPinfo.io</h5></div>
            <div class="card-body data-display" style="height: 300px; position: relative;"><div class="centered"><div class="loader"></div></div></div>
            <div class="card-footer"><button class="btn btn-danger data-reload")">Reload</button></div>
        </div>
    </div>
</div>

{% endblock %}